<a href="https://colab.research.google.com/github/Shihyun000/introduction-to-computers-/blob/main/%E6%9C%9F%E6%9C%AB%E8%80%83%E8%A4%87%E7%BF%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

0314

In [ ]:
print("\t**\n***\n\t**")

	**
***
	**

In [ ]:
print("hi!\n你好！")

hi!
你好！

0321

In [ ]:
print('hey','hi','hello')
print('hey','hi','hello',sep='_')
print('hey','hi','hello',sep='\t')
print('hey','hi','hello',sep='\n')

hey hi hello
hey_hi_hello
hey	hi	hello
hey
hi
hello

In [ ]:
print('午安,','同學好！','打起精神來！！',sep='\n')

午安,
同學好！
打起精神來！！

In [ ]:
print(123,end=',')
print(456)

123,456

In [ ]:
print(123,end='')
print(456)

123456

In [ ]:
print('午安','同學好','打起精神來',sep='_',end='!!!')

午安_同學好_打起精神來!!!

In [ ]:
print('下午好','平安順心','健康如意',sep=',',end='^^')

下午好,平安順心,健康如意^^

In [ ]:
a = int(input('請輸入國文成績'))
b = int(input('請輸入英文成績'))
c = int(input('請輸入數學成績'))
print('你的成績總分為:',a+b+c,sep='\n')

0328

%取餘數

In [11]:
35%4

3

//取商數

In [12]:
35//4

8

In [16]:
上底 = int(input('請輸入梯形上底長度：'))
下底 = int(input('請輸入梯形下底長度：'))
高 = int(input('請輸入梯形的高度：'))
面積 = (上底 + 下底) *高 / 2
print('梯形上底長度為:',上底,'梯形下底長度為:',下底,'梯形高度為:',高,'梯形面積為:',面積)

請輸入梯形上底長度：3
請輸入梯形下底長度：4
請輸入梯形的高度：3
梯形上底長度為: 3 梯形下底長度為: 4 梯形高度為: 3 梯形面積為: 10.5

格式化是串：print( ‘’％（） )

In [23]:
print('梯形上底長度為:%d梯形下底長度為:%d梯形高度為:%d梯形面積為:%0.2f'%(上底,下底,高,面積))

梯形上底長度為:3梯形下底長度為:4梯形高度為:3梯形面積為:10.50

In [21]:
print('梯形上底長度為:%d,梯形下底長度為:%d,梯形高度為:%d,梯形面積為:%0.1f'%(上底,下底,高,面積))

梯形上底長度為:3,梯形下底長度為:4,梯形高度為:3,梯形面積為:10.5

小數顯示方式

In [24]:
a = 1.1
b = 2.02
c = 3.003
print('a=%0.1f,b=%0.2f,c=%0.3f'%(a,b,c))

a=1.1,b=2.02,c=3.003

In [25]:
身高 = int(input('請輸入您的身高：'))
體重 = int(input('請輸入您的體重：'))
BMI = 體重/((身高/100)**2)
print('身高: %d,體重: %d,BMI: %0.2f '%(身高,體重,BMI))

請輸入您的身高：162
請輸入您的體重：60
身高: 162,體重: 60,BMI: 22.86

0411

複合指定運算

In [26]:
i = 10
i **= 3 #**次方
i

1000

運算子＋ 可運算可字串

In [27]:
print(1+2)

3

In [28]:
print('1'+'2')

12

In [29]:
deposit = int(input('請輸入本金存款金額：'))
years = 1.02**6
deposit *= years
print('六年後存款為:'+str(deposit))

請輸入本金存款金額：10000
六年後存款為:11261.62419264

In [30]:
pw = input('請輸入密碼')
if (pw == '1234'):
    print('歡迎光臨')

請輸入密碼1234
歡迎光臨

In [32]:
pw = input('請輸入密碼')
if (pw == '1234'):
    print('歡迎光臨')
else:print('密碼錯誤！')

請輸入密碼1111
密碼錯誤！

In [33]:
rain = input('今天會下雨嗎')
if (rain == 'Y'or rain == 'y'):
    print('出門記得帶傘！')
else:print('不用帶傘')

今天會下雨嗎y
出門記得帶傘！

In [34]:
Ｎ = int(input('請輸入正整數'))
if ( N %2 )== 0:
      print(str(N)+'為偶數！')
else:print(str(N)+'為奇數！')

請輸入正整數25
25為奇數！

0509

判斷式

In [35]:
temp = float(input('請輸入你的體溫:'))
if temp >= 37.5:
  print('體溫過高!')
elif temp >=37 and temp <37.4:
  print('體溫略高!')
elif temp >=34 and temp <36.9:
  print('體溫正常!')
else:
  print('體溫異常，請重新量測！')

請輸入你的體溫:34
體溫正常!

In [41]:
score = int(input('請輸入您的成績：'))
if score >= 90:
  print('A')
elif score >=80:
  print('B')
elif score >=70:
  print('C')
elif score >=60:
  print('D')
else:
  print('E')

請輸入您的成績：76
C

In [38]:
score = (input('請輸入您的成績：'))
if (int(score)>=90):
  print('A')
elif (int(score)>=80):
  print('B')
elif (int(score)>=70):
  print('C')
elif (int(score)>=60):
  print('D')
else:
  print('E')

請輸入您的成績：65
D

週年慶

In [42]:
money = int(input('請輸入購物金額:'))
if (money >= 10000):
  if(money >= 100000):
    print('八折',money*0.8 ,end = '元\n')
  elif(money >= 100000):
    print('八五折',money*0.85 , end = '元\n')
  elif(money >= 30000):
    print('九折',money*0.85 , end = '元\n')
  else:
    print('九五折',money*0.85 , end = '元\n')
else:
    print('沒打折',money, end = '元\n')

請輸入購物金額:5453345
八折 4362676.0元

季節

In [43]:
month = int(input('請輸入月份：'))
if (month in[3,4,5]):
  print(month,'是春天！',sep= '月' )
elif(month in[6,7,8]):
  print(month,'是夏天！',sep= '月' )
elif(month in[9,10,11]):
  print(month,'是秋天！',sep= '月' )
elif(month in[12,1,2]):
  print(month,'是冬天！',sep= '月' )

else:
  print('月份不在範圍內！')

請輸入月份：5
5月是春天！

稅金

In [45]:
tax = int(input('請輸入今年收入淨額：'))
if(tax >= 2000000):
  print('付稅金額：',tax*0.3,'元')
elif(tax >= 1000000):
  print('付稅金額：',tax*0.21,'元')
elif(tax >= 600000):
  print('付稅金額：',tax*0.13,'元')
elif(tax >= 300000):
  print('付稅金額：',tax*0.06,'元')
else:
  print('付稅金額：0 元')

請輸入今年收入淨額：2000000
付稅金額： 600000.0 元

0516

先複習range用法(起始值,終止值(不包含),間隔值)

ex range(1,3)=1,2

In [51]:
a=range(1,3)
print(list(a))

[1, 2]

In [46]:
for n in range(3):#從零開始跑
  print(n)

0
1
2

In [48]:
for n in range(3):#從零開始跑
  print(n,end=',')

0,1,2,

In [52]:
N = int(input('請輸入一個正整數'))
for m in range(1,N+1):
  print(m,end='')

請輸入一個正整數4
1234

In [53]:
sum = 0
for n in range(3):#0,1,2
  sum = sum+n
print(sum)

3

In [54]:
sum = 0
for n in range(5):#0,1,2,3,4
  sum = sum+n
print(sum)

10

In [55]:
sum = 0 
for n in range(10,1,-2):#10,8,6,4,2
  sum = sum+n
print(sum)

30

In [57]:
sum = 0 
N = int(input('請輸入一個正整數:'))
for n in range(1,N+1):
  sum +=n
print(sum)

請輸入一個正整數:50
1275

mine

In [59]:
N = int(input('請輸入一個正整數:'))
for n in range(1,N+1):
    m = ((n*(n+1))//2) #設定一個公式
    print('1到',n,'的整數整數和為：',m,sep='') #跑完直接跳下一列

請輸入一個正整數:2
1到1的整數整數和為：1
1到2的整數整數和為：3

teacher's

In [60]:
sum = 0 
N = int(input('請輸入一個正整數:'))
for m in range(1,N+1):
  sum = sum+m #符合結果直接加起來再跑下一個
  print('1到',str(m),'的整數和為',sum)

請輸入一個正整數:2
1到 1 的整數和為 1
1到 2 的整數和為 3

In [62]:
sum = 0 
N = int(input('請輸入一個正整數:'))
for n in range(1,N+1):
  sum = sum+n
print('1到',n,'的整數和為',sum) #print的位置不同

請輸入一個正整數:2
1到 2 的整數和為 3

巢狀迴圈

In [63]:
for j in range(1,5): #1,2,3,4
  print(j)
  for i in range(1,3):#1,2
    k=i*j
    print(j,'*',i,'=',k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8

In [64]:
for j in range(1,6): #1,2,3,4,5
  print(j)
  for i in range(1,3):#1,2
    k=i*j
    print(j,'*',i,'=',k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8
5
5 * 1 = 5
5 * 2 = 10

In [65]:
for i in range(1,5):
  if (i==4):
    break
  print(i ,end='')

123

In [66]:
for i in range(1,6):
  if (i==4):
    continue
  print(i ,end='')

1235

In [67]:
count = 0 
for string in '測試看看！':
  count+=1 #跑幾次
  if string == '看':
    break #跑到看停止
  print(string) #印出：測、試
print('迴圈結束')
print('迴圈執行了%d次'%count)

測
試
迴圈結束
迴圈執行了3次

In [69]:
count = 0 
for string in '測試看看！':
  count+=1 #跑幾次
  if string == '看':
    break #跑到看停止
print('迴圈結束')
print('迴圈執行了%d次'%count)

迴圈結束
迴圈執行了3次

九九乘法表很常出現

In [86]:
for j in range(2,10): #2~9
  for i in range(1,10): #1~9
    k=j*i
    print(f'{j}*{i}={k}',end=' \t') #跑j第一個數與i的第一個數相乘，結果放在旁邊 \t
  print('')

2*1=2 	2*2=4 	2*3=6 	2*4=8 	2*5=10 	2*6=12 	2*7=14 	2*8=16 	2*9=18
3*1=3 	3*2=6 	3*3=9 	3*4=12 	3*5=15 	3*6=18 	3*7=21 	3*8=24 	3*9=27
4*1=4 	4*2=8 	4*3=12 	4*4=16 	4*5=20 	4*6=24 	4*7=28 	4*8=32 	4*9=36
5*1=5 	5*2=10 	5*3=15 	5*4=20 	5*5=25 	5*6=30 	5*7=35 	5*8=40 	5*9=45
6*1=6 	6*2=12 	6*3=18 	6*4=24 	6*5=30 	6*6=36 	6*7=42 	6*8=48 	6*9=54
7*1=7 	7*2=14 	7*3=21 	7*4=28 	7*5=35 	7*6=42 	7*7=49 	7*8=56 	7*9=63
8*1=8 	8*2=16 	8*3=24 	8*4=32 	8*5=40 	8*6=48 	8*7=56 	8*8=64 	8*9=72
9*1=9 	9*2=18 	9*3=27 	9*4=36 	9*5=45 	9*6=54 	9*7=63 	9*8=72 	9*9=81

teacher's

In [81]:
for i in range(2,10):
  for j in range(1,10):
    product = i*j
    print('%d*%d=%2d' %(i,j,product),end=' ') #複習格式化字串
  print()

2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [78]:
N = int(input('請輸入一個正整數:'))
for m in range(1,N+1):
  if (m%5 == 0):
    continue #跳過符合的值再跑
  print(m,end=' ')

請輸入一個正整數:21
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21

求最小公倍數

In [87]:
a= int(input('請輸入a值:'))
b= int(input('請輸入b值:'))
for i in range(1,(a*b)+1):
  if(i%a ==0 and i%b ==0):  #i值剛好可以整除兩數就停止
    break
print('%d和%d的最小公倍數=%d'%(a,b,i))

請輸入a值:3
請輸入b值:5
3和5的最小公倍數=15

0530 while

In [88]:
total = n = 0 
while n<=10: #去掉括號
  total += n
  n+=1 #中止條件
print(total)

55

In [89]:
total = i = 1
n = int(input('請輸入正整數n值:'))
while i <=n:
  total *= i 
  i +=1
print('%d!=%d'%(n,total))

請輸入正整數n值:5
5!=120

In [90]:
i = 0
result = 0
while i <= 50:
    if i % 2 !=0:
        result += i 
    i +=1
print('0～50的奇數和結果是%d'%result)

0～50的奇數和結果是625

In [91]:
i = 0
result = 0
while i <= 50:
    if i % 2 ==0:
        result += i 
    i +=1
print('0～50的偶數和結果是%d'%result)

0～50的偶數和結果是650

In [98]:
n = int(input('請輸入正整數:'))
for i in range(1,n+1):
  for j in range(i,n+1):
    print('*',end='')
  print()

請輸入正整數:5
*****
****
***
**
*

In [93]:
sum = 0 
for i in range(0,101):
  if i%3==0 or i%7==0:
    sum +=i
print('數值1～100中，所有是3或7的倍數之總和=',sum)

數值1～100中，所有是3或7的倍數之總和= 2208

In [94]:
p=1
counter = 0
n = int(input('請輸入正整數:'))
print(n,'的因數有',end=' ')
while p<=n:
  if n%p==0:
    print(p,end=' ')
    counter+=1
  p+=1
print() 
if counter==2:
  print(n,'是質數')
else:
  print(n,'不是質數')

請輸入正整數:3
3 的因數有 1 3
3 是質數

0606

In [99]:
list4=['香蕉','蘋果','橘子']

負值代表往後取

In [100]:
print(list4[-1])
print(list4[-3])

橘子
香蕉

In [101]:
list5=[['tom','1234']],['mary','abcd'],['david','5678']

In [102]:
print(list5[1][1])

abcd

In [103]:
print(list5[0][0])

['tom', '1234']

In [104]:
print(list5[0][0][0])

tom

In [105]:
score = [85,79,93]
print('國文成績:%d分'%score[0])
print('數學成績:%d分'%score[1])
print('英文成績:%d分'%score[2])

國文成績:85分
數學成績:79分
英文成績:93分

改串列元素

In [106]:
list6=[1,2,3,4,5]

In [107]:
list6[0]=9

In [108]:
print(list6)

[9, 2, 3, 4, 5]

In [109]:
items=[123,'apple',True]
for item in items:
  print(item)

123
apple
True

In [110]:
scores =[85,79,93]

In [111]:
print(len(scores))

3

利用range(len())去跑

In [112]:
scores=[85,79,93]
for i in range(len(score)):
  print(scores[i])

85
79
93

In [114]:
scores=[85,79,93]
for i in scores:
  print(i)

85
79
93

for in range讀串列

In [116]:
subjects = ['國文','數學','英文']
scores = [85,79,93]
for i in range(len(scores)):
  print('%s成績：%d分'%(subjects[i],scores[i])) # %s 字串 %d十進位

國文成績：85分
數學成績：79分
英文成績：93分

In [119]:
numbers=[1,2,3]
names=['Tom','Mary','Tony']
for i in range(len(numbers)):
   print('編號：%d 姓名：%s'%(numbers[i],names[i]))

編號：1 姓名：Tom
編號：2 姓名：Mary
編號：3 姓名：Tony

In [120]:
numbers=[1,2,3]
names=['Tom','Mary','Tony']
for i in range(len(numbers)):
   print('編號：%s 姓名：%s'%(numbers[i],names[i]))

編號：1 姓名：Tom
編號：2 姓名：Mary
編號：3 姓名：Tony